/* applies to entire body of project*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /*applies to the text written in the time slots*/
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  /*applies to header*/
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  /*next two applies to the blocks of time from 8-5*/
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  /*next 4 applies to the blocks of time depending the state its in*/
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  /* next 3 applies to the button*/
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  /* media query for smaller screens to adjust for tablets*/
  @media screen and (max-width: 768px), screen and (max-width: 575px) {
    .row {
      height: auto;
      margin-top: 20px;
    }

    
    textarea {
        min-height: 85px;
        border: 0;
      }

    }
